body {
    font-family: serif;
    background: white;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}

@media only screen and (max-width:600px) {
    .buttons,
    .header,
    .bottom {
        width: 100%;
    }
}

.header {
    margin-top: 60px;
}

.header h1 {
    text-align: center;
    font-size: 40px;
    text-shadow: 5px 2px;
    background-color: #71a9e9;
}

.header p {
    text-align: center;
    font-size: 30px;
}

.buttons {
    margin-top: 50px;
    margin: 0 auto;
    display: table;
}

.button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 50px;
}

.button2 {
    background-color: #f7910c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 50px;
}

.button3 {
    background-color: #d82828;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 50px;
}

.bottom {
    background-color: #29627c81;
    height: 30px;
    margin-top: 100px;
}

.bottom ul li {
    text-align: center;
    font-size: 20px;
}
